<IfModule mod_rewrite.c>
# Activar rewrite
RewriteEngine on
ErrorDocument 404 http://localhost/MasterPHP/proyecto-php-poo/error/index

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# poner en el primer parentesis lo q hay en el 1 y en el otro parentesis el 2
RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
</IfModule>